@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.no-cursor {
  cursor: not-allowed;
}

.section-subtitle, .header__title {
font-size: 48px;
font-weight: 900;
color: #1A202C;
margin-bottom: 16px;
}

.section-title {
font-size: 16px;
font-weight: 700;
color: #6415ff;
margin-bottom: 16px;
letter-spacing: 10px:

}

.section-subsubtitle {
  font-size: 18px;
  color: #7C8BA1;
  max-width: 550px;
  margin: 0 auto;
}

p {
  line-height: 1.5;
}

.purple {
  color: #6415ff;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 24px 0;
}

/*

LANDING PAGE (NAVIGATION)

*/

nav {
    height: 70px;
    
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.nav__logo {
    width: 40px;
    margin-right: 12px;
}

.nav__emblem--wrapper {
    font-weight: 900;
    font-size: 24px;
    transition: all 300ms ease;
}

.nav__links--social,
.nav__links--signup,
.nav__emblem--wrapper,
.nav__links--wrapper, .nav__logo--wrapper  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link, .nav__emblem--wrapper {
    color: #243E63;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 4px;
    transition: all 300ms ease;
    border-bottom: solid 2px #6315ff00;
}

.nav__links--signup {
  margin-left: 48px;
}

.nav__link--primary {
  padding: 12px 32px;
  background-color: #6415ff;
  color: white;
  border-radius: 50px;
  transition: all 300ms ease;
  font-size: 14px;
  font-weight: 600;
}

.nav__link--primary:hover {
  background-color: #5011cc;
}

.nav__emblem--wrapper:hover {
  color:#6415ff;
}

.nav__link:hover {
 color: #6415ff;
 border-bottom: solid 2px #6415ff;
}

/*

LANDING PAGE (HEADER)

*/

header {
  height: calc(100vh - 70px);
}

.header__title {
  font-weight: 700;
  
}



.header__description {
  width: 40%;
  padding: 0 8px 0 0;
  
}

.header__wrapper {
  display: flex;
  margin: 96px 0;
  padding: 0 16px;

}

.header__img--wrapper {
  width: 60%;
}

.header__img {
  width: 100%;
}


.header__description--para {
color: #243E63;
margin: 32px 0;
font-size: 18px;
}

.header__email--input {
  padding: 20px 80px 20px 32px;
  border-radius: 999px;
  border: 2px solid rgb(226, 232, 240);
  width: 100%;
  margin-right: 48px;
  transition: all 300ms ease;
}

.header__email--input:hover {
  border-color: rgb(160, 174, 192);
}

.header__email--wrapper:active {
  border-color: white;
}

.header__email--input::placeholder {
  color: rgb(226, 232, 240);
  font-weight: 500;
  font-size: 16px;
}

.header__email--wrapper {
  display: flex;
  

}

.header__trusted--wrapper {
  margin-top: 80px;
}

.header__trusteds--logostrip {
  width: 100%;
  opacity: 0.6;
}

.header__logostrip--wrapper {
  width: 80%;
}

.header__trusted--para {
  font-size: 12px;
  color: #A0AEC0;
  font-weight: 700;
  margin-bottom: 12px;
}

/* 

FEATURES

*/
#features {
  margin-top: 24px;
}
.features__description {
  text-align: center;
}

.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}

.feature {
  display: flex;
  width: calc(100% / 3);
  padding: 24px;
  height: 100%;
  align-items: start;

}

.feature__img--wrapper {
  padding: 20px;
  display: flex;
  border-radius: 9999px;
  border: 1px solid rgb(226, 232, 240);
  align-items: center;
  justify-content: center;

}

.feature__img {
  width: 24px;
  height: 24px;
}

.feature__description {
  font-size: 16px;
  text-align: left;
  color: #7C8BA1;
  line-height: 2;
  font-weight: 500;
  padding-right: 40px;
  
}

.feature__title {
  font-size: 24px;
  color: #243E63;
  font-weight: 700;
  margin-bottom: 16px;
}

.feature__description--wrapper {
  width: 100%;
  margin-left: 16px
}