@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  cursor: not-allowed;
}

.white {
color: white;
}

li {
  list-style-type: none;
}

.no-cursor {
  cursor: not-allowed;
}

.section-subtitle,
.header__title {
  font-size: 48px;
  font-weight: 900;
  color: #1a202c;
  margin-bottom: 16px;
}

.section-title {
  font-size: 16px;
  font-weight: 700;
  color: #6415ff;
  margin-bottom: 16px;
  letter-spacing: 2px;
}

.section-subsubtitle {
  font-size: 18px;
  color: #7c8ba1;
  max-width: 550px;
}

p {
  line-height: 1.5;
}

.purple {
  color: #6415ff;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 24px 0;
}

/*

LANDING PAGE (NAVIGATION)

*/

nav {
  height: 70px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.nav__logo {
  width: 40px;
  margin-right: 12px;
}

.nav__emblem--wrapper {
  font-weight: 900;
  font-size: 24px;
  transition: all 300ms ease;
}

.nav__links--social,
.nav__links--signup,
.nav__emblem--wrapper,
.nav__links--wrapper,
.nav__logo--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link,
.nav__emblem--wrapper {
  color: #243e63;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 4px;
  transition: all 300ms ease;
  border-bottom: solid 2px #6315ff00;
}

.nav__links--signup {
  margin-left: 48px;
}

.nav__link--primary {
  padding: 12px 32px;
  background-color: #6415ff;
  color: white;
  border-radius: 50px;
  transition: all 300ms ease;
  font-size: 14px;
  font-weight: 600;
}

.nav__link--primary:hover {
  background-color: #5011cc;
}

.nav__emblem--wrapper:hover {
  color: #6415ff;
}

.nav__link:hover {
  color: #6415ff;
  border-bottom: solid 2px #6415ff;
}

/*

LANDING PAGE (HEADER)

*/

header {
  height: calc(100vh - 70px);
}

.header__title {
  font-weight: 700;
}

.header__description {
  width: 40%;
  padding: 0 8px 0 0;
}

.header__wrapper {
  display: flex;
  margin: 96px 0;
  padding: 0 16px;
}

.header__img--wrapper {
  width: 60%;
}

.header__img {
  width: 100%;
}

.header__description--para {
  color: #243e63;
  margin: 32px 0;
  font-size: 18px;
}

.header__email--input {
  padding: 20px 80px 20px 32px;
  border-radius: 999px;
  border: 2px solid rgb(226, 232, 240);
  width: 100%;
  transition: all 300ms ease;
}

.header__email--input:hover {
  border-color: rgb(160, 174, 192);
}

.header__email--wrapper:active {
  border-color: white;
}

.header__email--input::placeholder {
  color: rgb(226, 232, 240);
  font-weight: 500;
  font-size: 16px;
}

.header__email--wrapper {
  display: flex;
  margin-right: 16px;
  
}

.email__btn {
  position: absolute;
  top:0;
  right: 0;
  margin: 10px 10px;
}

.header__email--wrapper{
  position: relative;
}

.header__trusted--wrapper {
  margin-top: 80px;
}

.header__trusteds--logostrip {
  width: 100%;
  opacity: 0.6;
}

.header__logostrip--wrapper {
  width: 80%;
}

.header__trusted--para {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
  margin-bottom: 12px;
}

.header__dot {
  pointer-events: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -10;
  height: 16rem;
  width: 16rem;
  opacity: 0.05;
  transform: translateX(-60%);
}
/* 

FEATURES

*/
#features {
  margin-top: 72px;
  position: relative;
}
.features__description {
  text-align: center;
}

.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  align-items: center;
  justify-content: center;
}

.feature {
  display: flex;
  width: calc(100% / 3);
  padding: 24px;
  height: 100%;
  align-items: start;
}

.feature__img--wrapper {
  padding: 20px;
  display: flex;
  border-radius: 9999px;
  border: 1px solid rgb(226, 232, 240);
  align-items: center;
  justify-content: center;
}

.feature__img {
  width: 24px;
  height: 24px;
}

.feature__description {
  font-size: 16px;
  text-align: left;
  color: #7c8ba1;
  line-height: 2;
  font-weight: 500;
  padding-right: 40px;
}

.feature__title {
  font-size: 24px;
  color: #243e63;
  font-weight: 700;
  margin-bottom: 16px;
}

.feature__description--wrapper {
  width: 100%;
  margin-left: 16px;
}

.features-subsubtitle {
  margin: 0 auto;
}

.features__dot {
  pointer-events: none;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 16rem;
  transform: translate(8rem, 12rem);
  opacity: 0.25;
}

/* QUALITY */

.quality-work__description {
  width: 50%;
  padding: 0 8px 0 0;
}

.quality-work__wrapper {
  display: flex;
  margin: 96px 0;
  padding: 0 16px;
}

.quality-work__img--wrapper {
  width: 50%;
  padding-left: 16px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.quality-work__img {
  width: 100%;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 4px;
  position: relative;
  z-index: 2;
}

.btn {
  padding: 12px 32px;
  background-color: #6415ff;
  color: white;
  border-radius: 50px;
  transition: all 300ms ease;
  font-size: 14px;
  font-weight: 600;
  border: none;
  transition: all 300ms ease;
}

.btn:hover {
  background-color: #5011cc;
}

.quality-work__btn {
  margin-top: 32px;
}

.quality-work__dots {
  position: absolute;
  height: 5rem;
  width: 5rem;
  bottom: 0;
  right: 0;
  transform: translate(50%, 46%);
  z-index: 1;
  filter: invert(14%) sepia(68%) saturate(7492%) hue-rotate(262deg)
    brightness(95%) contrast(112%);
}

/* GET STARTED */
.get-started__description {
  width: 50%;
  padding: 0 8px 0 0;
  margin-left: 48px;
}

.get-started-wrapper {
  display: flex;
  margin: 96px 0;
  padding: 0 16px;
}

.get-started__img--wrapper {
  width: 50%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.get-started__img {
  width: 100%;
  z-index: 2;
}

.step {
  display: flex;
  margin-bottom: 32px;
  max-width: 350px;
}

.steps__wrapper {
  margin-top: 48px;
}

.step__number {
  font-size: 36px;
  color: #cbd5e0;
  margin-right: 24px;
  font-weight: 500;
}

.step__title {
  font-size: 20px;
  color: #243e63;
  font-weight: 500;
  margin-bottom: 8px;
}

.step__description {
  font-size: 14px;
  color: #718096;
  font-weight: 400;
  line-height: 2;
}

.get-started__dots {
  position: absolute;
  height: 10rem;
  width: 10rem;
  bottom: 16%;
  right: 50%;
  transform: translate(50%, 46%);
  z-index: 1;
  filter: invert(14%) sepia(68%) saturate(7492%) hue-rotate(262deg)
    brightness(95%) contrast(112%);
  opacity: 0.15;
}

/* VALUES */
.value {
  width: 50%;
}

.value__wrapper {
  display: flex;
  margin-top: 36px;
}

.value__logo--wrapper {
  margin-right: 16px;
  padding: 8px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.dollar {
  background-color: #9ae6b4;
}

.suitcase {
  background-color: #feb2b2;
}


.value__header {
  width: 100%;
  display: flex;
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  
}

.value__description {
  margin-top: 16px;
  line-height: 1.5;
  padding-right: 16px;
  color: rgb(113 128 150);
}

.values__description {
  width: 50%;
  padding: 0 8px 0 0;
}

.values__wrapper {
  display: flex;
  margin: 96px 0;
  padding: 0 16px;
}

.values__img--wrapper {
  width: 50%;
  padding-left: 16px;
  position: relative;
  z-index: 2;
  display: flex;
}

.values__img {
  width: 100%;
  border-radius: 4px;
  position: relative;
  z-index: 2;
}

.values__btn {
  margin-top: 48px;
}

/* 

PRICING

*/

.cards__wrapper {
  display: flex;
  margin-top: 36px;
}

.card {
  width: calc(100% / 3);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(226, 232, 240);
  margin-left: 48px;
  border-radius: 8px;
  position: relative;
}

.card--business {
  background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.card__sliver{
  position: absolute;
  width: 100%;
  height: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.card__description--wrapper {
  width: 100%;
  border-bottom:2px solid rgb(226, 232, 240);
  line-height: 2.5;
  padding: 16px 0;

}

.card__header--wrapper {
  width: 100%;
  border-bottom:2px solid rgb(226, 232, 240);
  padding: 32px 0;
}

.card__footer--wrapper {
  margin: 24px 0;
}

.btn--buy {
  padding: 16px 56px;
  cursor: not-allowed;
  border-radius: 50px;
  transition: all 300ms ease;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.btn--buy:hover {
  transform: translateY(2px);
}

.personal {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  color: white;

}

.enterprise {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  color: white;
}

.business {
  background: white;
  color: #6415ff;
}

.card__title {
  font-size: 20px;
  color: #1a202c;
  font-weight: 700;
}

.card__price {
  font-size: 40px;
  padding: 16px 0;
  color:#1a202c;
  font-weight: 700;
}

.card__length {
  font-size: 16px;
  font-weight: 500;
  color: #a0aec0;
}

.card__description--title {
  font-size: 20px;
  color: #1a202c;
  font-weight: 700;
}

.card__detail {
  font-size: 16px;
  color: #718096;
  font-weight: 500;
}

/* TESTIMONIALS */
.testimonials__description {
  width: 50%;
  padding: 0 8px 0 0;
  margin-left: 48px;
}

.testimonials-wrapper {
  display: flex;
  margin: 96px 0;
  padding: 0 16px;
}

.testimonials__img--wrapper {
  width: 50%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.testimonials__img {
  width: 100%;
  z-index: 2;
}

.review {
  margin-top: 32px;
}
.review__rating {
  color: #fabf2a;
}

.review__header {
  margin: 16px 0;
  font-weight: 700;
  color: #243e63;
  font-size: 20px;
}
.review__description {
  color: #4a5568;
  line-height: 1.5;
  font-weight: 500;
}
.review__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.user__scroller {
  display: flex;
}


.user {
  display: flex;
  align-items: center;
}

.user__name {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.user__information {
  margin-left: 16px;
}

.user__photo {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
}

.user__photo-img {
  width: 100%;
  border-radius: 100%;
}

.user__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user__scroller-arrow--right, .user__scroller-arrow--left {
 padding: 13px 16px;
 margin: 0 12px;
 color: #6415ff;
 border-radius: 100%;
 background-color: #edf2f7;
 transition: all 300ms ease;
  cursor: not-allowed;
}

.user__scroller-arrow--right:hover, .user__scroller-arrow--left:hover {
  background-color: #d0d0d073;
}

.divider {
  width: 1px;
  border: 1px solid #edf2f7 ;
  
}

/* CONTACT CARD */
.contact-card {
  padding: 2rem 56px;
  background-color: rgb(100 21 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 96px;
}

.contact-card__get-started-btn {
padding: 24px 40px;
background-color: #f56565;
border: none;
border-radius: 999px;
font-size: 16px;
color: white;
font-weight: 700;
transition: all 300ms ease;
margin: 16px;
cursor: not-allowed;
}

.contact-card__get-started-btn:hover {
  background-color: #e53e3e;
}

.contact-card__contact-us-btn {
padding: 24px 40px;
background-color: rgb(100 21 255);
border: none;
border-radius: 999px;
border:1px solid white;
font-size: 16px;
color: white;
font-weight: 700;
transition: all 300ms ease;
cursor: not-allowed;

}

.contact-card__contact-us-btn:hover {
  background-color: white;
  color: rgb(100 21 255);
}

.contact-card__message {
  font-weight: 600;
  font-size: 24px;
  color: white;
}

.contact-card__btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
#footer {
  background-color: rgb(100 21 255);
}

.footer__list-title {
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}

.footer__lists {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(160, 174, 192);
}

.footer__list-item {
  color: white;
  line-height: 2.5;
  font-size: 14px;
  font-weight: 500;
}

.footer__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.footer__copyright {
  color: #cbd5e0
}

.footer__links {
  display: flex;
}

.footer__link {
margin-left: 16px;
padding: 8px;
background-color: white;
border-radius: 999px;
cursor: not-allowed;
transition: all 300ms ease;
}

.footer__link:hover {
  background-color: #d0d0d0f7;
}

.footer__logo {
  width: 35px;
  margin-right: 12px;
}

.footer__logo--wrapper {
  display: flex;
  align-items: center;
}

.footer__emblem--wrapper {
  font-weight: 900;
  font-size: 24px;
  transition: all 300ms ease;
  color:white;
}

@media(max-width:992px) {

  .section-subtitle {
    font-size: 36px;
    }

  

    .nav__links--wrapper {
      display: none;
    }

  .feature {
    width: 50%;
  }

  #features {
    margin-top: 120px;
  }

  .cards__wrapper {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   
  }

  .card {
    padding: 0;
    margin: 32px 0;
    width: 51%;
    
  }

  .contact-card {
    flex-direction: column;
    display: flex;
    text-align: center  ;
  }

  .contact-card__message {
    margin-bottom: 16px;
  }

  .contact-card__btns {
    display: flex;
    flex-direction: column;
  }

  .contact-card__get-started-btn {
    margin: 0 0 12px 0;
    padding: 12px 24px;
  }
  .contact-card__contact-us-btn {
    margin: 0;
    padding: 12px 24px;
  }

  

}

@media(max-width:768px) {
  .container {
    padding: 0 18px;
  }

  .section-title{
    text-align: center;
  }

  .section-subtitle {
    text-align: center;
  }

  .feature {
    width: 51%;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .feature__description {
    padding: 0;
    text-align: center;
  }

  .feature__title {
    margin-top: 16px;
  }
  
  .feature__img--wrapper {
    margin-left: 16px;
  }

  .quality-work__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .quality-work__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .quality-work__img--wrapper {
    width: 80%;
    margin-bottom: 48px;
  }

  .get-started-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  }

  .get-started__description {
    margin: 0;
  }

  .get-started__img--wrapper {
    margin-bottom: 32px;
    width: 70%;
  }

  .values__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .values__img--wrapper {
    width: 80%;
    margin-bottom: 32px;
  }

  .values__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.value__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__img--wrapper {
  width: 80%;
  margin-bottom: 32px;
}

.testimonials__description {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}





.footer__lists {
  flex-wrap: wrap;
justify-content: center;
}

.footer__list {
  width: calc(100% / 3);
  margin-bottom: 24px;
  text-align: center;
}

.footer__footer {
  padding-bottom: 32px;
  flex-direction: column;
}

.footer__copyright {
  margin: 32px 0;
}
  }


@media(max-width:576px) {
  .section-subsubtitle {
    font-size: 14px;
  }

  .feature {
    width: 100%;
  }

  .quality-work__img--wrapper {
    width: 100%;
  }

  .get-started__img--wrapper {
    width: 100%;
  }

  .get-started__description {
    width: 100%;
  }

  .card {
    width: 100%;
  }
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }



  .step__number{
    margin: 0;
  }

  .step__title {
    margin: 8px 0;
  }

  .values__img--wrapper {
    width: 100%;
  }

  .value__wrapper {
    display: flex;
    flex-direction: column;
  }

  .value {
    width:100%;
    margin-bottom: 16px;
  }

  .testimonials__img--wrapper{
    width: 100%;
  }
  .review__description {
    font-size: 14px;
  }

  .user {
    display: flex;
    flex-direction: column;
  }
  .user__information {
    margin-bottom: 16px;
  }
  .review__footer {
    display: flex;
    flex-direction: column;
  }

  .footer__footer {
    text-align: center;
  }
}